body {
  font-family: 'Barlow', sans-serif;
}

nav {
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 700;
}

hr {
  width: 90%;
}

.background {
  background-color: #eef3f6;
  background: linear-gradient(to right, #eef3f6, #eef3f6, #eef3f6 100%, #fff 100%);
  width: 50%;
  height: 55%;
  border-bottom-left-radius: 60px 70px;
  position: absolute;
  right: 0;
  z-index: -1;
}

.logo {
  margin: 50%;
}

.navbar-nav {
  text-align: center;
}

.navbar-item {
  font-size: 1.3rem;
  padding-top: 5%;
}

.navbar-login {
  margin-bottom: 5%;
}

.navbar-link {
  color: black;
}

.login-color {
  color: gray;
}

.collapse {
  background-color: white;
  width: 90%;
  position: absolute;
  top: 80px;
  right: 15px;
  box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.25);
  z-index: 1;
}

.row {
  width: 100%;
  margin: 0;
}

.col-lg-6 {
  padding: 0;
}

.illustration {
  margin-top: 5%;
  margin-bottom: 15%;
  width: 100%;
}

.new {
  color: white;
  padding: 1% 3%;
  background-color: black;
  border-radius: 2rem;
  margin: 5%;
  font-weight: 700;
}

.gray {
  letter-spacing: 2px;
}

.heading-1 {
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 700;
  margin: 5%;
}

.para {
  margin: 5%;
}

.btn {
  margin: 5%;
}

.attribution {
  margin: 3%
}

/* `Med`ia Queries */
@media only screen and (min-width: 900px) {
  ul {
    text-align: right;
    margin: auto;
    margin-right: 0;
  }

.navbar-brand {
  padding-left: 5%;
}

  .collapse {
    background-color: inherit;
    position: static;
    box-shadow: none;
  }

  .navbar-item {
    padding-right: 15%;
  }

  .row {
    display: flex;
    flex-direction: row-reverse;
  }

  .left {
    padding-top: 10%;
    padding-left: 5%;
  }

  .new {
    padding: 1% 2%;
    margin-right: 3%;
  }

  .gray {
    color: gray;
  }

  .heading-1 {
    font-size: 4rem;
  }

  .para {
    max-width: 50%;
    color: gray;
  }

  .attribution {
    text-align: center;
    margin-top: 0;
  }
}
